#myCarousel{
  margin-top: -50px;

}
#img-carousel{
  /*position: relative; */
  display: flex;
  width: 100%;
  height: 512px;
  background: black;
}
/*#img-carousel img{
  width: auto;
  height: auto  ;
}*/
.logo{
  width: 60px;
  height: 60px;
}
.lottie-center{
  margin: auto;
}
